@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.hover-group .hover-item {
  transition: opacity 0.3s ease; /* Ajuste a duração e a função de timing conforme necessário */
}

.hover-group:hover .hover-item {
  opacity: 0.5;
}

.hover-group:hover .hover-item:hover {
  opacity: 1;
}

.no-focus-border input,
.no-focus-border textarea {
  outline: none;
  border: none;
  box-shadow: none !important;
}

.no-focus-border input:focus,
.no-focus-border textarea:focus {
  outline: none;
  border: none;
  box-shadow: none !important;
}
@media (max-width: 640px) {
  .hover-group:hover .hover-item,
  .hover-group:hover .hover-item:hover {
    opacity: 1;
  }
}
